
.fav-page.loading
    .spinner-overlay
        .spinner
    .welcome
       .welcome__left
           .welcome__title
               .welcome__title-top(data-translate="welcomeTitleTop")
                   span.welcome__title-top-item ша
                   span.welcome__title-top-item
                   span.welcome__title-top-item тар
                   span.welcome__title-top-item :
               .welcome__title-center(data-translate="welcomeTitleCenter") новий
               .welcome__title-bottom(data-translate="welcomeTitleBottom") всесвіт гри



           a.welcome__btn.btn.unauth-msg(data-translate="authBtn" href="/login" data-promo="shackhtar_universe_ua_20102025" data-button="auth_top") авторизуватись
           button.welcome__btn.btn.part-btn.hide(data-translate="joinBtn" data-promo="shackhtar_universe_ua_20102025" data-button="takePart_top") взяти участь
           a.welcome__btn.btn.btn-join.hide(data-translate="playBtn" href="#" data-promo="shackhtar_universe_ua_20102025" data-button="playBtn_top") до подій
       .welcome__right
           picture.welcome__right-pers
               source(media="(max-width: 600px)" srcset='img/welcome/pers-mob.png')
               source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/pers-mob.png')
               source(media="(max-width: 1050px)" srcset='img/welcome/pers.png')
               img(src="img/welcome/pers.png" alt="Favbet")
           .welcome__right-decor
               .welcome__right-star
                   img(src="img/welcome/star.png" alt="Favbet")
               .welcome__right-crown
                   img(src="img/welcome/crown.png" alt="Favbet")
               .welcome__right-hammer
                   img(src="img/welcome/hammer.png" alt="Favbet")
               .welcome__right-cup
                   img(src="img/welcome/cup.png" alt="Favbet")
    .info
        .info__left(data-translate="infoText") З ХХ.ХХ.2025 до ХХ.ХХ.2026 роби більше виграшних ставок на ігри команди "Шахтар" та отримай фірмові подарунки
        .info__right
            .info__match(data-match="1")
                .info__match-left
                    .info__match-logo
                        img(src="img/info/logo.png" alt="Favbet")
                    a.info__match-btn.btn(href="#" data-translate="toMatchLink") до матчу
                .info__match-right
                    .info__match-teams
                        .info__match-team1 Shakhtar
                        .info__match-separator
                        .info__match-team2 Rukh
                    .info__match-date
                        .info__match-date-text(data-translate="infoMatchText") Прем’єр-ліга України
                        .info__match-date-time 28 вересня 2025 р. 18:00
                    .info__match-next
                        .info__match-next-text(data-translate="infoMatchNext") До наступного матчу Шахтаря
                        .info__match-next-time
    .drop
        details.dropdown
            summary(data-translate="detailsBtn") Деталі
            .drop-txt
                .drop-txt-list(data-translate="details")
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга.
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
    .prize
        .prize__top
            .prize__title(data-translate="prizeTitle") Призи
            .prize__desc
                .prize__console
                    img(src="img/prize/points/100PointsPrize.png" alt="Favbet")
                .prize__podium
                    img(src="img/prize/podium.png" alt="Favbet")
                .prize__decor
                    .prize__decor-item
                        img(src="img/prize/plus.png" alt="Favbet")
                    .prize__decor-item
                        img(src="img/prize/coin.png" alt="Favbet")
                    .prize__decor-item
                        img(src="img/prize/rectangle.png" alt="Favbet")
                    .prize__decor-item
                        img(src="img/prize/triangle.png" alt="Favbet")
                    .prize__decor-item
                        img(src="img/prize/circle.png" alt="Favbet")
                    .prize__decor-item
                        img(src="img/prize/gamepad.png" alt="Favbet")
                .prize__amount(data-amount-points="100")
                    .prize__amount-points 100 балів
                    .prize__amount-lock
                        img(src="img/prize/lock-icon.png" alt="Favbet")
                    .prize__amount-text(data-translate="playstation") PS5
                    .prize__amount-info
                        img(src="img/info-icon.png" alt="Favbet")

        .prize__bottom
            .prize__bar
                .progress-bar
                    .progress-fill(style="height: 50%")
                    .progress-label 50/100
            .prize__items
                .prize__item._active(data-amount-points="5")
                    .prize__item-left
                        .prize__item-points 5 балів
                        .prize__item-text(data-translate="5PointsPrize") Шарф вболівальника
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/5PointsPrize.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")
                .prize__item(data-amount-points="10")
                    .prize__item-left
                        .prize__item-points 10 балів
                        .prize__item-text(data-translate="10PointsPrize") Брендована колонка
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/10PointsPrize.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")

                .prize__item(data-amount-points="25")
                    .prize__item-left
                        .prize__item-points 25 балів
                        .prize__item-text(data-translate="25PointsPrize") Брендована колонка
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/25PointsPrize.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")
                .prize__item(data-amount-points="40")
                    .prize__item-left
                        .prize__item-points 40 балів
                        .prize__item-text(data-translate="40PointsPrize") Футбольний мʼяч
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/40PointsPrize.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")

                .prize__item(data-amount-points="45")
                    .prize__item-left
                        .prize__item-points 45 балів
                        .prize__item-text(data-translate="45PointsPrize") Ігрова футболка
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/45PointsPrize.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")
                .prize__item(data-amount-points="50")
                    .prize__item-left
                        .prize__item-points 50 балів
                        .prize__item-text(data-translate="50PointsPrize") Футбольний мʼяч
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/50PointsPrize.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")
                .prize__item(data-amount-points="85")
                    .prize__item-left
                        .prize__item-points 85 балів
                        .prize__item-text(data-translate="85PointsPrize") Набір трушного вболівальника
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/85PointsPrize.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")

                .prize__item.prize__mob(data-amount-points="100")
                    .prize__item-left
                        .prize__item-points 100 балів
                        .prize__item-text(data-translate="100PointsPrize") PS5
                        button.prize__item-btn(data-translate="chooseBtn") обрати
                    .prize__item-right
                        img(src="img/prize/points/100PointsPrizeMob.png" alt="Favbet")
                    .prize__item-info
                        img(src="img/info-icon.png" alt="Favbet")

        .prize__last
            .prize__last-text(data-translate="lastUpd") Останнє оновлення
            .prize__last-upd XX:XX
        a.prize__btn.btn.unauth-msg(data-translate="authBtn" href="/login" data-promo="shackhtar_universe_ua_20102025" data-button="auth_top") авторизуватись
        button.prize__btn.btn.part-btn.hide(data-translate="joinBtn" data-promo="shackhtar_universe_ua_20102025" data-button="takePart_top") взяти участь
        a.prize__btn.btn.btn-join.hide(data-translate="playBtn" href="#" data-promo="shackhtar_universe_ua_20102025" data-button="playBtn_top") до подій
        .prize__text(data-translate="prizeText") *Загальний призовий фонд акції «Шахтар: НОВИЙ ВСЕСВІТ ГРИ», вид та розмір бонусної пропозиції визначається та пропонується учасникам виключно на розсуд Організатора та в межах чинної Програми лояльності. Період дії акції – з ХХ.ХХ.2025 до ХХ.ХХ.2026 року. Деталі на favbet.ua
    .drop
        details.dropdown
            summary(data-translate="rulseBtn") Деталі
            .drop-txt
                .drop-txt-list(data-translate="rules")
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга.
                        p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                        p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                        p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                        p Ставки на футбол – рекомендований варіант для новачків світу беттінга. Спочатку футбольні парі були однією з форм розваги. Як приклад можна навести pari-mutue - давно існуючу та зародилася в Британії на початку 20-го століття систему пулів з наступними умовами:
                        p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                        p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                        p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                        p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                        p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                        p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
    .popups._opacity
        .popup(data-popup="100PointsPopup")
            .popup__close
            .popup__title(data-translate="popupTitle") Ти хочеш обрати подарунок
            .popup__img
                img(src="img/popup/100PointsPrize.png" alt="favbet")
            .popup__subtitle(data-translate="100PointsPopupPrize") Ігрову консоль PS5?
            .popup__text(data-translate="popupText") Твій прогрес обнулиться після підтвердження вибору подарунка
            button.popup__btn.btn(data-translate="btnConfirm") Підтвердити
            button.popup__btn.btn-cancel(data-translate="btnCancel") Скасувати